altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle-websocket==0.2.9
bottle==0.12.25
cffi==1.16.0
contourpy==1.2.0
cycler==0.12.1
Eel==0.16.0
fonttools==4.49.0
future==1.0.0
gevent-websocket==0.10.1
gevent==24.2.1
greenlet==3.0.3
h5py==3.10.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
pip==21.3.1
pycparser==2.21
pyparsing==3.1.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
PyQt6==6.6.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
setuptools==60.2.0
six==1.16.0
wheel==0.37.1
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.2
